body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(3, 3, 3);
    color: white;
}

.ELsHeadline{
    margin-top:50px;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.Ebox{
    border: 3px;
    border-radius: 5px;
    border-color:green;
    border-style: solid;
    background-color: rgb(0, 30, 4);
    color:white;
    text-align: center;
    width: 250px; /* Breite der Boxen */
    height: 200px; /* Höhe der Boxen */
    padding: 20px;
}

.Ebox a{
    color: white;
    text-decoration: none;
}

.Ebox a:hover {
    color: white;
}

.Lbox{
    border: 3px;
    border-radius: 5px;
    border-color:blue;
    border-style: solid;
    background-color: rgb(0, 0, 34);
    text-align: center;
    width: 250px; /* Breite der Boxen */
    height: 200px; /* Höhe der Boxen */
    padding: 20px;
}

.Lbox a{
    color: white;
    text-decoration: none;
}

.Lbox a:hover {
    color: white;
}

.sbox{
    border: 3px;
    border-radius: 5px;
    border-color:white;
    border-style: solid;
    background-color: rgb(61, 61, 61);
    text-align: center;
    width: 250px; /* Breite der Boxen */
    height: 200px; /* Höhe der Boxen */
    padding: 20px;
}

.sbox a{
    color: white;
    text-decoration: none;
}

.sbox a:hover {
    color: white;
}

.Headline{
    font-size: xx-large;
    margin-top:3px;
}

.Alias{
    font-size: larger;
}

#notice{
    font-size:xx-small;
    color:white;
    justify-content:end;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Ebox, .Lbox, .sbox{
        margin-top: 20px;
    }
}