body{
    background-color: white;
    font-family: Ubuntu,Arial, Helvetica, monospace;
}

/*Navbar*/
.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0f0f0f;
    overflow: hidden;
    border-radius: 15px;
    padding: 0.5%;
}

.Navbar a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:x-large;
    padding: 10px 15px;
    text-decoration: none;
}

.Navbar a:hover{
    background-color: #636363;
    border-radius: 15px;
    
}

.ProjectPage{
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    margin-top: 20px;
}

.ProjectTitle{
    font-size: x-large;
}

.Headline{
    font-size: larger;
    margin-top: 15px;
}