body{
    background-color: black;
    font-family: Ubuntu,Arial, Helvetica, monospace;
    color:white;
}

/*Navbar*/
.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    overflow: hidden;
    border-radius: 15px;
    padding: 0.5%;
    border-color:white;
    border-style: solid;
}

.Navbar a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:x-large;
    padding: 10px 15px;
    text-decoration: none;
}

.Navbar a:hover{
    background-color: #636363;
    border-radius: 15px;
    
}

.ProjectPage{
    
    border-radius: 10px;
    border-style: solid;
    margin-top: 20px;
    border-color:white;
}

.ProjectTitle{
    font-size: x-large;
    margin-left: 20px;
    color:white;
}

.Headline{
    font-size: larger;
    margin-top: 15px;
    margin-left: 20px;
    color:white;
}

.links{
    padding-left:20px;
}

.Text{
    margin-left:20px;
}