
body{
    background-color: black;
    font-family: Ubuntu,Arial, Helvetica, monospace;
}

/*Navbar*/
.Navbar{
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    overflow:auto;
    border-radius: 15px;
    padding: 10px;
    border-style:solid;
    border-color:white;
    position:fixed;
    top:8px;
    width: calc(100% - 41px);
}

.Navbar a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:x-large;
    padding: 10px 15px;
    text-decoration: none;
}

.Navbar a:hover{
    background-color: #636363;
    border-radius: 15px;
    
}

/*About Me*/

#AboutMeHeadline{
    font-size: xx-large;
    color:white;
    margin-top:100px;
}

.AboutMe{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    display: flex;
    text-align: left;
    align-items: center;
    background-color: black;
    border: 5px;
    border-style:solid;
    border-color: white;
    border-radius: 15px;
    padding: 15px;
    gap: 10px;
    color:white
    
}

/*Projects*/

#ProjectsHeadline{
    font-size: xx-large;
    color:white;
}

.ProjectHeadline{
    font-size: larger;
    flex-shrink:0;
    color:white;
}

.Project{
    margin-top: 30px;
    font-size: large;
    display: flex;
    text-align: left;
    align-items: flex-start;
    background-color: black;
    border: 2px;
    border-style:solid;
    border-color: white;
    padding: 15px;
    gap: 10px;
    color:white;
}

#RottingRage button{
    background-color: white;
    border: 2px;
    border-radius: 10px;
    color:black;
    padding:10px 10px;
}

#Bwinfo button{
    background-color: white;
    border: 2px;
    border-radius: 10px;
    color:black;
    padding:10px 10px;
}

#Terra button{
    background-color: white;
    border: 2px;
    border-radius: 10px;
    color:black;
    padding:10px 10px;
}

#Dartscheibe button{
    background-color: white;
    border: 2px;
    border-radius: 10px;
    color:black;
    padding:10px 10px;
}

#SelfmadeStifte button{
    background-color: white;
    border: 2px;
    border-radius: 10px;
    color:black;
    padding:10px 10px;
}

#PythonAnfängerProjekte button{
    background-color: white;
    border: 2px;
    border-radius: 10px;
    color:black;
    padding:10px 10px;
}

#Thinkpad button{
    background-color: white;
    border: 2px;
    border-radius: 10px;
    color:black;
    padding:10px 10px;
}

@media screen and (max-width: 500px) {
    .Navbar a {
      float: none;
      display: block;
    }
}